name: Sleep Disorder - CI 

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
    - name: Run actions/checkout@v4
      uses: actions/checkout@v4
    
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v5
      with:
        python-version: '3.12.7'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 scikit-learn pandas numpy matplotlib seaborn
    
    - name: Run MLflow Project
      working-directory: ./MLProject
      run: |
        mlflow run . \
          --experiment-name "Sleep_Disorder_CI" \
          --env-manager local
    
    - name: Display metrics
      working-directory: ./MLProject
      run: |
        if [ -f metrics.json ]; then
          echo "Model Metrics:"
          cat metrics.json
        fi
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/
    
    - name: Training completed
      run: echo "Model training completed successfully!"